<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,lcov,opencover,json</Format>
          <Exclude>
            [*]CardDemo.Infrastructure.Persistence.Migrations.*,
            [*]Program,
            [*]*.Tests.*,
            [xunit.*]*,
            [coverlet.*]*
          </Exclude>
          <Include>
            [CardDemo.Domain]*,
            [CardDemo.Application]*,
            [CardDemo.Infrastructure]*,
            [CardDemo.Api]*
          </Include>
          <ExcludeByAttribute>
            Obsolete,
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute,
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>
          <ExcludeByFile>
            **/Migrations/**/*.cs,
            **/obj/**/*.cs
          </ExcludeByFile>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>false</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
